@model RunGroopWebApp.ViewModels.DashboardViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach(Race item in Model.UserRaces)
{
    <h1>@item.RaceCategory</h1>
}

@foreach (Club item in Model.UserClubs)
{
    <h1>@item.ClubCategory</h1>
}
